---
import Clock from "../components/icon/Clock.astro";
import Phone from "../components/icon/Phone.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto - Fruna">
  <main class="container mx-auto px-4 py-10">
  <div class="container mx-auto p-6" id="page">
    <div class="site-content" id="content">
      <section class="py-8 text-center">
        <h2 class="chewy-text text-5xl font-bold text-red-600">Contáctanos</h2>
        <p class="mt-2">¡Queremos Saber de ti!</p>
      </section>

      <section class="py-4 text-center">
        <p class="mt-2">
          Gracias por visitar nuestra página web. Contáctanos a través de los
          siguientes medios.
        </p>
      </section>  

      <section class="py-8">
        <div class="contact_form max-w-md mx-auto bg-gray-100 rounded-lg p-6">
          <h1 class="chewy-text text-3xl font-bold text-red-600 mb-4 text-center">
            Formulario de contacto
          </h1>
          <h3 class="text-gray-700 mb-6">
            Escríbenos y en breve los pondremos en contacto contigo
          </h3>
      <form name="contact"  data-netlify="true">
        <p>
          <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
          <label>Your Role: <select name="role[]" multiple>
            <option value="leader">Leader</option>
            <option value="follower">Follower</option>
          </select></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
      
      
      <section class="py-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
          <div>
            <h2 class="text-xl font-bold">Horarios Venta de Helados</h2>
            <ul class="mt-2">
              <li class="flex justify-center items-center">
                <Clock />
                <span>Lun a Vie, AM 08:00 a 12:00</span>
              </li>
              <li class="flex justify-center items-center">
                <Clock />
                <span>Lun a Vie, PM 15:00 a 18:00</span>
              </li>
              <li class="flex justify-center items-center">
                <Clock />
                <span>Sábado, 08:30 a 12:00</span>
              </li>
            </ul>
          </div>

          <div>
            <h2 class="text-xl font-bold">Venta de Helados</h2>
            <ul class="mt-2">
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6745</span>
              </li>
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6748</span>
              </li>
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6750</span>
              </li>
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6782</span>
              </li>
            </ul>
          </div>

          <div>
            <h2 class="text-xl font-bold">Venta de Confites</h2>
            <ul class="mt-2">
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6743</span>
              </li>
              <li class="flex justify-center items-center">
                <Phone />
                <span>+56 2 3245 6749</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
</Layout>
