---
import Layout from "../layouts/Layout.astro";

// Lista de ubicaciones de las dulcerías
const tiendasList = [
  { direccion: "SALV. SANFUENTES 2902", telefono: "232240707" },
  { direccion: "SAN ALFONSO 84", telefono: "232240708" },
  { direccion: "FRANKLIN 801", telefono: "232240714" },
  { direccion: "SAN PABLO 3069", telefono: "232240714" },
  { direccion: "SAN FRANCISCO 2057", telefono: "232240714" },
];
---

<Layout title="Dulcerías - Fruna">
    <section class="container mx-auto py-8">
        <h2 class="chewy-text text-6xl font-bold text-center mb-4">Dulcerías</h2>
        <p class="text-lg text-center mb-8">Visítenos, estaremos felices de atenderle</p>

        <section class="my-8 text-center">
            <h2 class="chewy-text text-gray-500 text-4xl font-semibold mb-4 text-center">Santiago Centro</h2>
            
            <!-- Contenedor para las primeras tres columnas -->
            <div class="flex flex-wrap justify-center gap-6">
                {tiendasList.slice(0, 3).map((tienda) => (
                    <div class="p-6 bg-gray-100 rounded-lg shadow-md max-w-xs w-full md:w-full">
                        <h3 class="text-xl font-bold mb-2">{tienda.direccion}</h3>
                        <h4 class="text-lg font-semibold mb-1">Teléfono</h4>
                        <p class="text-base">{tienda.telefono}</p>
                    </div>
                ))}
            </div>

            <!-- Contenedor para las últimas dos columnas centradas -->
            <div class="flex justify-center gap-6 mt-6">
                {/* Columna vacía a la izquierda */}
                <div class="hidden lg:block lg:flex-1"></div>

                {/* Últimas dos columnas */}
                {tiendasList.slice(3).map((tienda) => (
                    <div class="p-6 bg-gray-100 rounded-lg shadow-md max-w-xs w-full md:w-full">
                        <h3 class="text-xl font-bold mb-2">{tienda.direccion}</h3>
                        <h4 class="text-lg font-semibold mb-1">Teléfono</h4>
                        <p class="text-base">{tienda.telefono}</p>
                    </div>
                ))}

                {/* Columna vacía a la derecha */}
                <div class="hidden lg:block lg:flex-1"></div>
            </div>
            
        </section>
    </section>
</Layout>
