---
//src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Favoritos from '../components/Favoritos.astro';
---

<Layout title="Fruna - De la tierra a la Luna, no hay como tú y Fruna">
	<main class="container mx-auto px-4 py-10">
		<Favoritos/>
	  </main>
</Layout>

